{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Расписание <a href="{% url 'main:change_week' %}" class="btn btn-light" role="button">Change</a></h1>
    <table class="table">
        <thead>
           <tr>
                {% for day in week_n %}
                    <th scope="col">{{day}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for i in  week %}
                <td>
                    {% for mo in i %}
                        {% if mo.task.all %}
                        {% for el in mo.task.all %}
                            <p>{{ el.name }} </p>
                        {% endfor %}
                        {% else %}
                            <p>Free</p>
                        {% endif %}
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}
